
.vs/Bloom/FileContentIndex/6f245fbd-b460-4fd4-aa45-5856231853a9.vsidx
.vs/Bloom/FileContentIndex/cac8f0d0-e49f-455f-aca0-6b3cbe143172.vsidx
.vs/Bloom/FileContentIndex/ea1aa0c6-b053-4d32-8103-2212306552d6.vsidx
.vs/Bloom/FileContentIndex/f6b174d5-f94b-4d62-8fe0-2ef60d46f115.vsidx
.vs/Bloom/FileContentIndex/read.lock
.vs/Bloom/v17/.wsuo
.vs/Bloom/v17/Browse.VC.db
.vs/Bloom/v17/Browse.VC.db-shm
.vs/Bloom/v17/Browse.VC.db-wal
.vs/Bloom/v17/Browse.VC.opendb
.vs/Bloom/v17/ipch/AutoPCH/247c9ab05614324b/BLOOM.ipch
.vs/CMakeWorkspaceSettings.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
*.vsidx
